* {
    box-sizing: border-box;
    margin: 0;
}

body {
 font-family: $bodyFont;
 max-width: 50rem;
 margin: 0 auto;
 
}

//header

header {

    h1 {
        font-family: $titleFont;
        letter-spacing: .2rem;
        font-size: clamp(2rem, 4vw, 4vw);
        text-align: center;
        padding: 1rem;
    }
    h2 {
        text-align: center;
        font-size: clamp(1rem, 2vw, 2vw);
        padding: 0 1rem;
    }
}


main {

}

.gameContainer { // 3 seperate div sections
    
    padding: 4rem;
    margin: 0 auto;
    h3 {
        text-align: center; //div1 and div2 headers
    }
}

// Start of 3 div sections
.div1 {
    width: 100%;
    margin: 1rem;

    .scoreSystem {
        p {
            text-align: center;
            font-size: clamp(.5rem, 2vw, 1rem);
        }
    }
    .numberInput {
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        input {
            width: 50%;
            background: pink;
            border-style: none;
            padding: .5rem;
            border-radius: 10px;

        }
    }
}


.div2 {
    width: 100%;
    margin: 1rem;
    .questionImage
       img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;
        left: 4%;

    }
    .submitButton {
        display: flex;
        justify-content: center;
    }
    button {
        background: pink;
        color: black;
        font-weight: 700;
        font-size: clamp(.5rem, 2vw, 1.5rem);
        padding: 6% 8% 6% 6%;
        width: 100%;
        border-style: none;
    }
    button:hover {
            background: black;
            color: white;
        }
}

.div3 {
    width: 100%;
    margin: 1rem;
    #results {
        img {
            width: 100%;
            height: auto;
            padding: 1rem;
        }
    }
    #feedback {
        text-align: center;
    }
    .attemptNumber {
        font-weight: 900;
        text-align: center;
        padding-top: 1rem;
    }
}


// Footer Styles

footer {
    text-align: center;
    font-size: clamp(.6rem, 1vw, 1.5rem)
}