/* font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Petit Formal Script', cursive; */

* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Petit Formal Script', cursive;
    background-color: rgb(249, 247, 250);
}

@keyframes blur {
     from {filter: blur(5px);}
     to {filter: blur(0px);}
}

.landingPage {
    height: 100vh;

    background-image: url(/10-hotel/images/hotel-1640201.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    animation: blur 2s;
}


/*Company Logo*/
.header {
    height: 50vh;
}
.header__h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 6rem;
    
    text-shadow: -15px 15px 20px white;
}
/*Hotel buttons*/
.landingPage__buttonDiv {
   text-align: center;
}
.buttonDiv__button {
    margin: 1rem;
    padding: 1.5rem;

    border: none;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.849);

    font-family: 'Petit Formal Script', cursive;
    font-size: 1.2rem;
    font-weight: 600;
}
.buttonDiv__button:hover {
    background-color: white;
}

/*Hotel Info*/
.main {
    display: grid;
    grid-template-areas:
    "display info";
    grid-template-columns: 50% 50%;
    grid-template-rows: 60vh;

    margin-bottom: 6rem;
}
.main__nameImageAddressDiv {
    display: grid;
    grid-template-areas:
    "name"
    "image"
    "address";
    grid-template-rows: 20% 60% 20%;
    align-items: center;
    object-fit: contain;
    min-width: 0;
    min-height: 0;
}
.main__amnListBookDiv {
    display: grid;
    grid-template-areas:
    "amentities"
    "list"
    "booknow";
    grid-template-rows: 20% 60% 20%;
    align-items: center;
}

/*nameImageAddressDiv */
.main__nameDiv {
    padding: 1rem;

    background-color: rgba(255, 255, 255, 0.836);
    
    font-weight: 600;
    color: black;
}
/* .main__figure {
    min-width: 0;
    overflow: hidden;
    width: 100%;
}
.main__figureImage {
    max-width: 100%;
    min-width: 0;
} */
.main__addressDiv {
    padding: .7rem;

    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}
/*amnListBookDiv */
.main__amnTitleDiv {
    padding-left: 1rem;
}
.main__amnListBookDiv {
    padding-left: 1rem;

    line-height: 180%;
    font-weight: 600;
}
.main__bookButton {
    margin: .5rem;
    padding: .8rem;

    border: none;
    border-radius: 40px;
    background-color: rgba(224, 167, 167, 0.849);

    font-family: 'Petit Formal Script', cursive;
    font-size: 1rem;
    font-weight: 600;
}
.main__bookButton:hover {
    background-color: rgb(175, 92, 92);
}


/*Footer*/
.footer {
    padding: 1rem;

    background-color: rgb(226, 226, 226);

    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: .8rem;
    text-align: center;
}