* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Radio Canada', sans-serif;
    background-color: rgb(249, 247, 250);
    
}

.main {
    padding: 1rem;
}
.header {
    padding: 1rem;
}
.header__title {
    font-weight: 700;

}
.main__statusesDivFlex {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
}
.main__statusDiv {
    margin-left: 1rem;
}
.main__billDiv {
    padding: 1rem 0;
}
h2 {
    font-weight: 400;
}